Define a new method called aircrafts that receives no arguments and prints only the list of aircraft models (Names)i�r�c�r�a�f�.

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [14]:
import pandas as pd
airlines_df = pd.read_csv('airlines.csv', on_bad_lines='skip')
airplanes_df = pd.read_csv('airplanes.csv', on_bad_lines='skip')
airports_df = pd.read_csv('airports.csv', on_bad_lines='skip')
routes_df =  pd.read_csv('routes.csv', on_bad_lines='skip')

In [10]:
# Ensure IDs are of the same type for successful merging
routes_df['Source airport ID'] = routes_df['Source airport ID'].astype(str)
airports_df['Airport ID'] = airports_df['Airport ID'].astype(str)
    
# Merge routes with airports to get the country of each route
df_routes_with_country = pd.merge(routes_df, airports_df[['Airport ID', 'Country']], left_on='Source airport ID', right_on='Airport ID', how='left')
        
# Merge the result with airplanes to get the model names (on equipment)
df_final_merged = pd.merge(df_routes_with_country, airplanes_df[['IATA code', 'Name']], left_on='Equipment', right_on='IATA code', how='left')
df_final_merged

,index,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment,Airport ID,Country,IATA code,Name
0,0,2B,410,AER,2965,KZN,2990,NaN,0,CR2,2965,Russia,CR2,Canadair Regional Jet 200
1,1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2,2966,Russia,CR2,Canadair Regional Jet 200
2,2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2,2966,Russia,CR2,Canadair Regional Jet 200
3,3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2,2968,Russia,CR2,Canadair Regional Jet 200
4,4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2,2968,Russia,CR2,Canadair Regional Jet 200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67754,67658,ZL,4178,WYA,6334,ADL,3341,NaN,0,SF3,6334,Australia,SF3,Saab SF340A/B
67755,67659,ZM,19016,DME,4029,FRU,2912,NaN,0,734,4029,Russia,734,Boeing 737-400
67756,67660,ZM,19016,FRU,2912,DME,4029,NaN,0,734,2912,Kyrgyzstan,734,Boeing 737-400
67757,67661,ZM,19016,FRU,2912,OSS,2913,NaN,0,734,2912,Kyrgyzstan,734,Boeing 737-400
67758,67662,ZM,19016,OSS,2913,FRU,2912,NaN,0,734,2913,Kyrgyzstan,734,Boeing 737-400

In [77]:
airplanes_df

     index                                          Name IATA code ICAO code
0        0                       Aerospatiale (Nord) 262       ND2      N262
1        1  Aerospatiale (Sud Aviation) Se.210 Caravelle       CRV      S210
2        2                  Aerospatiale SN.601 Corvette       NDC      S601
3        3                Aerospatiale/Alenia ATR 42-300       AT4      AT43
4        4                Aerospatiale/Alenia ATR 42-500       AT5      AT45
..     ...                                           ...       ...       ...
241    241                                Tupolev Tu-144        \N      T144
242    242                                Tupolev Tu-154       TU5      T154
243    243                                Tupolev Tu-204       T20      T204
244    244                               Yakovlev Yak-40       YK4      YK40
245    245                               Yakovlev Yak-42       YK2      YK42

[246 rows x 4 columns]

In [64]:
#keep slashes
#3,Aerospatiale/Alenia ATR 42-300,AT4,AT43
#4,Aerospatiale/Alenia ATR 42-500,AT5,AT45
#5,Aerospatiale/Alenia ATR 42-600,ATR,AT46
#6,Aerospatiale/Alenia ATR 72,AT7,AT72

# leave just 55
# 55,Beechcraft Baron / 55 Baron,\N,BE55

#create a line per model
# change to BAe 125 Hawker 700
# 110,British Aerospace 125 series Hawker/Raytheon 700/800/800XP/850/900,H25,H25B

#  change to BAe 125 Hawker 1000
# 111,British Aerospace 125-1000 series / Hawker/Raytheon 1000,H25,H25C

# each model is Lockheed L-number
# 209,Lockheed L-182 / 282 / 382 (L-100) Hercules,LOH,C130

#this has two version A and B
# 230,Saab SF340A/B,SF3,SF34
# 221,Pilatus Britten-Norman BN-2A/B Islander,BNI,BN2P

# drop parenthesis
#167,Embraer 175 (long wing),E7W,E75L
#168,Embraer 175 (short wing),E7W,E75S
#224,Piper PA-28 (above 200 hp),\N,P28B
#225,Piper PA-28 (up to 180 hp),\N,P28A
# 0,Aerospatiale (Nord) 262,ND2,N262
# 1,Aerospatiale (Sud Aviation) Se.210 Caravelle,CRV,S210

#add parenthesis for Beluga
# Airbus A300-600ST Super Transporter / Beluga,ABB,A3ST 

# Gulfstream Commander and Gulfstream Turbo Commander 
#195,Gulfstream/Rockwell (Aero) Commander,ACP,AC68
#196,Gulfstream/Rockwell (Aero) Turbo Commander,ACT,AC90

In [69]:
airplanes_df['Name'] =airplanes_df['Name'].replace('Beechcraft Baron / 55 Baron', 'Beechcraft Baron 55')

    index                 Name IATA code ICAO code
55     55  Beechcraft Baron 55        \N      BE55

check = airplanes_df[airplanes_df['Name'] == 'Beechcraft Baron 55']
check

In [73]:
# Given row
given_row = "British Aerospace 125 series Hawker/Raytheon 700/800/800XP/850/900"

# Split the given row into components
components = given_row.split(" ")

# Extract the relevant components for new rows
models = components[5].split("/")

# Construct the new rows
new_rows = []
for model in models:
    new_rows.append(f"BAe 125 Hawker {model}")

# Print the new rows
for row in new_rows:
    print(row)

BAe 125 Hawker 700
BAe 125 Hawker 800
BAe 125 Hawker 800XP
BAe 125 Hawker 850
BAe 125 Hawker 900

In [76]:
# Assuming df is your pandas DataFrame

# Get the row with index 110
row_to_duplicate = airplanes_df.iloc[110]

# Create four duplicates of the row
duplicates = [row_to_duplicate] * 4

# Append the duplicates to the DataFrame
df = airplanes_df.append(duplicates, ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [79]:
# Split the 'Name' column at the first space and take everything after the space
name_parts = airplanes_df['Name'].str.split(' ', n=1, expand=True)[1].tolist()

# Now name_parts is a list containing everything after the first space in each 'Name'
name_parts

['(Nord) 262',
 '(Sud Aviation) Se.210 Caravelle',
 'SN.601 Corvette',
 'ATR 42-300',
 'ATR 42-500',
 'ATR 42-600',
 'ATR 72',
 'A300',
 'A300-600',
 'A300-600ST Super Transporter / Beluga',
 'A310',
 'A318',
 'A319',
 'A319neo',
 'A320',
 'A320neo',
 'A321',
 'A321neo',
 'A330',
 'A330-200',
 'A330-300',
 'A330-700 Beluga XL',
 'A330-800neo',
 'A330-900neo',
 'A340',
 'A340-200',
 'A340-300',
 'A340-500',
 'A340-600',
 'A350',
 'A350-1000',
 'A350-900',
 'A380',
 'A380-800',
 'AN-12',
 'AN-124 Ruslan',
 'AN-140',
 'An-148',
 'An-158',
 'An-225 Mriya',
 'AN-24',
 'AN-26',
 'AN-28',
 'AN-30',
 'AN-32',
 'AN-72',
 'RJ100',
 'RJ70',
 'RJ85',
 '146',
 '146-100',
 '146-200',
 '146-300',
 '1900',
 'Baron',
 'Baron 55',
 '212',
 '707',
 '717',
 '720B',
 '727',
 '727-100',
 '727-200',
 '737',
 '737 MAX 10',
 '737 MAX 7',
 '737 MAX 8',
 '737 MAX 9',
 '737-200',
 '737-300',
 '737-400',
 '737-500',
 '737-600',
 '737-700',
 '737-800',
 '737-900',
 '747',
 '747 LCF Dreamlifter',
 '747-100',
 '747-200',
 '747-300',
 '747-400',
 '747-400D',
 '747-8',
 '747SP',
 '747SR',
 '757',
 '757-200',
 '757-300',
 '767',
 '767-200',
 '767-300',
 '767-400',
 '777',
 '777-200',
 '777-200LR',
 '777-300',
 '777-300ER',
 '777-8',
 '777-9',
 '787',
 '787-10',
 '787-8',
 '787-9',
 '415',
 'BD-100 Challenger 300',
 'CS100',
 'CS300',
 'Global Express',
 'Aerospace (BAC) One Eleven',
 'Aerospace 125 series / Hawker/Raytheon 700/800/800XP/850/900',
 'Aerospace 125-1000 series / Hawker/Raytheon 1000',
 'Aerospace ATP',
 'Aerospace Jetstream 31',
 'Aerospace Jetstream 32',
 'Aerospace Jetstream 41',
 'Challenger',
 'CL-44',
 'Regional Jet 100',
 'Regional Jet 1000',
 'Regional Jet 200',
 'Regional Jet 700',
 'Regional Jet 900',
 '152',
 '172',
 '182 Skylane',
 '208 Caravan',
 '210 Centurion',
 'Citation CJ3',
 'Citation CJ4',
 'Citation Excel',
 'Citation I',
 'Citation II',
 'Citation Mustang',
 'Citation Sovereign',
 'Citation X',
 'C-919',
 None,
 'Falcon 2000',
 'Falcon 50',
 'Falcon 7X',
 'Falcon 900',
 'Havilland Canada DHC-2 Beaver',
 'Havilland Canada DHC-2 Turbo-Beaver',
 'Havilland Canada DHC-3 Otter',
 'Havilland Canada DHC-4 Caribou',
 'Havilland Canada DHC-6 Twin Otter',
 'Havilland Canada DHC-7 Dash 7',
 'Havilland Canada DHC-8-100 Dash 8 / 8Q',
 'Havilland Canada DHC-8-200 Dash 8 / 8Q',
 'Havilland Canada DHC-8-300 Dash 8',
 'Havilland Canada DHC-8-400 Dash 8Q',
 'Havilland DH.104 Dove',
 'Havilland DH.114 Heron',
 'DC-10',
 'DC-3',
 'DC-6',
 'DC-8-50',
 'DC-8-62',
 'DC-8-72',
 'DC-9-10',
 'DC-9-20',
 'DC-9-30',
 'DC-9-40',
 'DC-9-50',
 '170',
 '175',
 '175 (long wing)',
 '175 (short wing)',
 '190',
 '195',
 'E190-E2',
 'E195-E2',
 'EMB 110 Bandeirante',
 'EMB 120 Brasilia',
 'Legacy 450',
 'Legacy 600',
 'Phenom 100',
 'Phenom 300',
 'RJ135',
 'RJ140',
 'RJ145',
 'Dornier 328JET',
 'Dornier Do.228',
 'Dornier Do.328',
 '100',
 '50',
 '70',
 'F27 Friendship',
 'F28 Fellowship',
 'Aerospace G-159 Gulfstream I',
 'G280',
 'G650',
 'IV',
 'V',
 '(Aero) Commander',
 '(Aero) Turbo Commander',
 'Yunshuji Y12',
 'Siddeley HS 748',
 'IL114',
 'IL18',
 'IL62',
 'IL76',
 'IL86',
 'IL96',
 '35',
 '60',
 'L-1011 Tristar',
 'L-1049 Super Constellation',
 'L-182 / 282 / 382 (L-100) Hercules',
 'L-188 Electra',
 'Douglas MD-11',
 'Douglas MD-81',
 'Douglas MD-82',
 'Douglas MD-83',
 'Douglas MD-87',
 'Douglas MD-88',
 'Douglas MD-90',
 'YS-11',
 'P.68',
 'Britten-Norman BN-2A Mk III Trislander',
 'Britten-Norman BN-2A/B Islander',
 'PC-12',
 'PC-6 Turbo Porter',
 'PA-28\xa0(above 200\xa0hp)',
 'PA-28\xa0(up to 180\xa0hp)',
 'PA-31 Navajo',
 'PA-44 Seminole',
 'PA-46',
 '2000',
 'SF340A/B',
 'SC-5 Belfast',
 'SC-7 Skyvan',
 'SD.330',
 'SD.360',
 'S-58T',
 'S-61',
 'S-76',
 'S-92',
 'Superjet 100-95',
 'Tu-134',
 'Tu-144',
 'Tu-154',
 'Tu-204',
 'Yak-40',
 'Yak-42']

In [78]:
def aircrafts():
    print(airplanes_df['Name'].unique())

aircrafts()

['Aerospatiale (Nord) 262' 'Aerospatiale (Sud Aviation) Se.210 Caravelle'
 'Aerospatiale SN.601 Corvette' 'Aerospatiale/Alenia ATR 42-300'
 'Aerospatiale/Alenia ATR 42-500' 'Aerospatiale/Alenia ATR 42-600'
 'Aerospatiale/Alenia ATR 72' 'Airbus A300' 'Airbus A300-600'
 'Airbus A300-600ST Super Transporter / Beluga' 'Airbus A310'
 'Airbus A318' 'Airbus A319' 'Airbus A319neo' 'Airbus A320'
 'Airbus A320neo' 'Airbus A321' 'Airbus A321neo' 'Airbus A330'
 'Airbus A330-200' 'Airbus A330-300' 'Airbus A330-700 Beluga XL'
 'Airbus A330-800neo' 'Airbus A330-900neo' 'Airbus A340' 'Airbus A340-200'
 'Airbus A340-300' 'Airbus A340-500' 'Airbus A340-600' 'Airbus A350'
 'Airbus A350-1000' 'Airbus A350-900' 'Airbus A380' 'Airbus A380-800'
 'Antonov AN-12' 'Antonov AN-124 Ruslan' 'Antonov AN-140' 'Antonov An-148'
 'Antonov An-158' 'Antonov An-225 Mriya' 'Antonov AN-24' 'Antonov AN-26'
 'Antonov AN-28' 'Antonov AN-30' 'Antonov AN-32' 'Antonov AN-72'
 'Avro RJ100' 'Avro RJ70' 'Avro RJ85' 'BAe 146' 'BAe 146-100'
 'BAe 146-200' 'BAe 146-300' 'Beechcraft 1900' 'Beechcraft Baron'
 'Beechcraft Baron 55' 'Bell 212' 'Boeing 707' 'Boeing 717' 'Boeing 720B'
 'Boeing 727' 'Boeing 727-100' 'Boeing 727-200' 'Boeing 737'
 'Boeing 737 MAX 10' 'Boeing 737 MAX 7' 'Boeing 737 MAX 8'
 'Boeing 737 MAX 9' 'Boeing 737-200' 'Boeing 737-300' 'Boeing 737-400'
 'Boeing 737-500' 'Boeing 737-600' 'Boeing 737-700' 'Boeing 737-800'
 'Boeing 737-900' 'Boeing 747' 'Boeing 747 LCF Dreamlifter'
 'Boeing 747-100' 'Boeing 747-200' 'Boeing 747-300' 'Boeing 747-400'
 'Boeing 747-400D' 'Boeing 747-8' 'Boeing 747SP' 'Boeing 747SR'
 'Boeing 757' 'Boeing 757-200' 'Boeing 757-300' 'Boeing 767'
 'Boeing 767-200' 'Boeing 767-300' 'Boeing 767-400' 'Boeing 777'
 'Boeing 777-200' 'Boeing 777-200LR' 'Boeing 777-300' 'Boeing 777-300ER'
 'Boeing 777-8' 'Boeing 777-9' 'Boeing 787' 'Boeing 787-10' 'Boeing 787-8'
 'Boeing 787-9' 'Bombardier 415' 'Bombardier BD-100 Challenger 300'
 'Bombardier CS100' 'Bombardier CS300' 'Bombardier Global Express'
 'British Aerospace (BAC) One Eleven'
 'British Aerospace 125 series / Hawker/Raytheon 700/800/800XP/850/900'
 'British Aerospace 125-1000 series / Hawker/Raytheon 1000'
 'British Aerospace ATP' 'British Aerospace Jetstream 31'
 'British Aerospace Jetstream 32' 'British Aerospace Jetstream 41'
 'Canadair Challenger' 'Canadair CL-44' 'Canadair Regional Jet 100'
 'Canadair Regional Jet 1000' 'Canadair Regional Jet 200'
 'Canadair Regional Jet 700' 'Canadair Regional Jet 900' 'Cessna 152'
 'Cessna 172' 'Cessna 182 Skylane' 'Cessna 208 Caravan'
 'Cessna 210 Centurion' 'Cessna Citation CJ3' 'Cessna Citation CJ4'
 'Cessna Citation Excel' 'Cessna Citation I' 'Cessna Citation II'
 'Cessna Citation Mustang' 'Cessna Citation Sovereign' 'Cessna Citation X'
 'COMAC C-919' 'Concorde' 'Dassault Falcon 2000' 'Dassault Falcon 50'
 'Dassault Falcon 7X' 'Dassault Falcon 900'
 'De Havilland Canada DHC-2 Beaver'
 'De Havilland Canada DHC-2 Turbo-Beaver'
 'De Havilland Canada DHC-3 Otter' 'De Havilland Canada DHC-4 Caribou'
 'De Havilland Canada DHC-6 Twin Otter' 'De Havilland Canada DHC-7 Dash 7'
 'De Havilland Canada DHC-8-100 Dash 8 / 8Q'
 'De Havilland Canada DHC-8-200 Dash 8 / 8Q'
 'De Havilland Canada DHC-8-300 Dash 8'
 'De Havilland Canada DHC-8-400 Dash 8Q' 'De Havilland DH.104 Dove'
 'De Havilland DH.114 Heron' 'Douglas DC-10' 'Douglas DC-3' 'Douglas DC-6'
 'Douglas DC-8-50' 'Douglas DC-8-62' 'Douglas DC-8-72' 'Douglas DC-9-10'
 'Douglas DC-9-20' 'Douglas DC-9-30' 'Douglas DC-9-40' 'Douglas DC-9-50'
 'Embraer 170' 'Embraer 175' 'Embraer 175 (long wing)'
 'Embraer 175 (short wing)' 'Embraer 190' 'Embraer 195' 'Embraer E190-E2'
 'Embraer E195-E2' 'Embraer EMB 110 Bandeirante'
 'Embraer EMB 120 Brasilia' 'Embraer Legacy 450' 'Embraer Legacy 600'
 'Embraer Phenom 100' 'Embraer Phenom 300' 'Embraer RJ135' 'Embraer RJ140'
 'Embraer RJ145' 'Fairchild Dornier 328JET' 'Fairchild Dornier Do.228'
 'Fairchild Dornier Do.328' 'Fokker 100' 'Fokker 50' 'Fokker 70'
 'Fokker F27 Friendship' 'Fokker F28 Fellowship'
 'Gulfstream Aerospace G-159 Gulfstream I' 'Gulfstream G280'
 'Gulfstream G650' 'Gulfstream IV' 'Gulfstream V'
 'Gulfstream/Rockwell (Aero) Commander'
 'Gulfstream/Rockwell (Aero) Turbo Commander' 'Harbin Yunshuji Y12'
 'Hawker Siddeley HS 748' 'Ilyushin IL114' 'Ilyushin IL18' 'Ilyushin IL62'
 'Ilyushin IL76' 'Ilyushin IL86' 'Ilyushin IL96' 'Learjet 35' 'Learjet 60'
 'Lockheed L-1011 Tristar' 'Lockheed L-1049 Super Constellation'
 'Lockheed L-182 / 282 / 382 (L-100) Hercules' 'Lockheed L-188 Electra'
 'McDonnell Douglas MD-11' 'McDonnell Douglas MD-81'
 'McDonnell Douglas MD-82' 'McDonnell Douglas MD-83'
 'McDonnell Douglas MD-87' 'McDonnell Douglas MD-88'
 'McDonnell Douglas MD-90' 'NAMC YS-11' 'Partenavia P.68'
 'Pilatus Britten-Norman BN-2A Mk III Trislander'
 'Pilatus Britten-Norman BN-2A/B Islander' 'Pilatus PC-12'
 'Pilatus PC-6 Turbo Porter' 'Piper PA-28\xa0(above 200\xa0hp)'
 'Piper PA-28\xa0(up to 180\xa0hp)' 'Piper PA-31 Navajo'
 'Piper PA-44 Seminole' 'Piper PA-46' 'Saab 2000' 'Saab SF340A/B'
 'Shorts SC-5 Belfast' 'Shorts SC-7 Skyvan' 'Shorts SD.330'
 'Shorts SD.360' 'Sikorsky S-58T' 'Sikorsky S-61' 'Sikorsky S-76'
 'Sikorsky S-92' 'Sukhoi Superjet 100-95' 'Tupolev Tu-134'
 'Tupolev Tu-144' 'Tupolev Tu-154' 'Tupolev Tu-204' 'Yakovlev Yak-40'
 'Yakovlev Yak-42']

In [ ]:
def aircrafts(self):
    # Assuming 'Name' is the column containing aircraft models
    print(self.airplanes_df['Name'].unique())