# DEMO NOTEBOOK FOR AIRPORT INFO

In [47]:
#!conda activate adpro

In [5]:
#!pip install requests

Requirement already satisfied: requests in c:\users\victo\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\victo\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\victo\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\victo\anaconda3\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\victo\anaconda3\lib\site-packages (from requests) (2024.2.2)

In [8]:
#!pip install seaborn
#!pip install pandasai

In [1]:
import os
try:
    os.environ['OPENAI_API_KEY']='sk-***REMOVED***'
except:
    print('Error setting API key')

In [2]:
import sys
sys.path.append("../functions")
import flights

Data downloaded and extracted successfully.
   Aircraft Model Manufacturer             Max Speed  \
0  Boeing 737-300       Boeing  511 knots (935 km/h)

                             Range Passengers Crew       First Flight  \
0  2,400 nautical miles (4,400 km)        149    2  February 24, 1984

   Production Status                          Variants        Role
0  Out of production  [Boeing 737-400, Boeing 737-500]  Commercial

In [3]:
flight_data = flights.FlightData()

Data downloaded and extracted successfully.

In [4]:
flight_data.airport_info('LAX')

,Airport Code,Location,Size,Facilities,Traffic,Runway Length,Airlines Served,History,Services,Safety Records
0,LAX,"34.0522째 N, 118.2437째 W","3,500 acres","9 terminals, multiple parking options, lounges",88 million passengers annually,"12,923 feet",Over 70 airlines,"Opened in 1930, known for its iconic Theme Bui...","Ground transportation, dining options, duty-fr...",High safety and security measures in place

In [5]:
flight_data.aircraft_info('Aerospatiale (Nord) 262')

,Aircraft Model,Manufacturer,Max Speed,Range,Passengers,Crew,First Flight,Production Status,Variants,Role
0,Aerospatiale (Nord) 262,Aerospatiale (Nord),500 km/h,"1,500 km",30,2,1947,Out of production,"[Nord 262A, Nord 262B]",Commercial