In [4]:
#Read dataframes
import pandas as pd
df_airlines = pd.read_csv('../flight_data/airlines.csv')
df_airplanes = pd.read_csv('../flight_data/airplanes.csv', on_bad_lines='skip')
df_airports = pd.read_csv('../flight_data/airports.csv', on_bad_lines='skip')
df_routes =  pd.read_csv('../flight_data/routes.csv', on_bad_lines='skip')

In [5]:
#Airlines
df_airlines_cleaned = df_airlines.drop(df_airlines.columns[0], axis=1) \
                                 .drop(['Alias', 'Callsign', 'Active'], axis=1)

In [6]:
#Airports
df_airports_cleaned = df_airports.drop(df_airports.columns[0], axis=1) \
                                 .drop(['Timezone','Altitude', 'DST', 'Tz database time zone', 'Type', 'Source'], axis=1)

In [7]:
df_airports.head()

,index,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
0,0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [8]:
#Routes
df_routes_cleaned = df_routes.drop(df_routes.columns[0], axis=1) \
                                 .drop(['Codeshare','Stops', 'Airline'], axis=1) 

#Remember = source and destination airport equals IATA number

In [9]:
df_airplanes_cleaned = df_routes.drop(df_airplanes.columns[0], axis=1) 

df_airplanes_cleaned

,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...
67658,ZL,4178,WYA,6334,ADL,3341,NaN,0,SF3
67659,ZM,19016,DME,4029,FRU,2912,NaN,0,734
67660,ZM,19016,FRU,2912,DME,4029,NaN,0,734
67661,ZM,19016,FRU,2912,OSS,2913,NaN,0,734
67662,ZM,19016,OSS,2913,FRU,2912,NaN,0,734